.authorTitle {
  color: gray;
  margin-left: 5px;
  margin-right: 1px;
}

.authorName {
  color: rgb(21, 29, 141);
  padding-right: 6px;
}

body {
  border: 0;
  margin: 0;
  padding: 0;
  font-family: "Outfit", sans-serif;
}

#topBar {
  background-color: #3366cc;
  color: white;
  display: flex;
  justify-content: space-between;
  padding-top: 15px;
  padding-bottom: 15px;
}
#topBar h4 {
  font-weight: 700;
  margin-left: 15px;
  font-size: x-large;
}
#topBar h5 {
  font-weight: 500;
  margin-right: 15px;
}
#topBar h4,
#topBar h5 {
  margin-top: auto;
  margin-bottom: auto;
}

#titlePosts {
  margin-left: 35px;
  margin-bottom: none;
  border: none;
  padding: none;
  color: #1a4292;
}

#ulNav {
    display: flex;border: none;
    list-style-type: none;
    text-decoration-line: none;
    border: none;
    

    }
#ulNav li {
    
    text-decoration: none;

}

#ulPosts {
    list-style-type: none;
}


#addButton {
    transition: background-color 0.15s ease-out;

    margin-left: 25px;
  
    margin-top: 28px;
    background-color: #3366cc;
    color: white;
    font-family: "Outfit", sans-serif;
    border: 2px solid #1a4292;
    border-radius: 6px;
    font-size: large;
    font-weight: 500;
    
}

#addButton:hover {
    transition: background-color 0.15s ease-out;
    background-color: #234da0;
}

#addButton:active{
    transition: background-color 0.15s ease-out;
    background-color: #132d61;
}

.topItems {
  display: flex
}


.inputFielding {
  white-space: pre-wrap;
}